/* Reset CSS for browser compatability */

html, body, div, ul, li, h1, h2, h3, li, a, img, p, button {
	margin: 0;
	padding: 0;
	border: none;
	font-size: 100%;
  font-family: inherit;
  outline: none;
}

button:focus {
  outline: none;
}

html, body {
  width: 100%;
  height: 100%;
  min-height: 100%;
  /* background: pink; */
}   