@import 'variables.css';

.search-bar {
  position: relative;
  width: 31em;
}

.search-bar-input {
  font-family: 'cerealMedium';
  font-size: 1em;
  color: var(--dark-gray);
  box-sizing: border-box;
  padding: 10px 200px 10px 50px;
  border-radius: 5px;
  border: none;
  border: 1px solid var(--outline-gray);
  box-shadow: 0 3px 8px 1px rgba(0, 0, 0, 0.1);
}

.search-bar-input:focus {
  padding-right: 16.66em;
  transition: padding 0.25s;
}

.search-icon img {
  position: absolute;
  width: 20px;
  top: 0.66em;
  left: 0.83em;
}

.close-icon img {
  position: absolute;
  top: 15px;
  left: 95%;
  width: 13px; 
  opacity: 0;
}

.search-bar-input:focus + .close-icon img {
  opacity: 1;
}

.close-icon:hover {
  cursor: pointer;
}