@import 'variables.css';

.search-bar {
  position: relative;
  width: 500px;
  margin: 7px 0 0 10px;
}

.search-bar-input {
  font-family: 'cerealMedium';
  font-size: 18px;
  color: var(--dark-gray);
  padding: 10px 200px 10px 50px;
  border-radius: 5px;
  border: none;
  border: 1px solid var(--outline-gray);
  box-shadow: 0 3px 8px 1px rgba(0, 0, 0, 0.05);
}

.search-bar .search-icon img {
  position: absolute;
  width: 20px;
  top: 12px;
  left: 15px;
}

.close {
  width: 20px;
  line-height: 20px;
  vertical-align: center;
  text-align: center;
  margin: 15px;
  font-size: 28px;
  color: #b3b3b3;
  font-weight: lighter;
  position: absolute;
  right: 0;
  bottom: 5px;
}

.close:hover {
  cursor: pointer;
}
