@import 'variables.css';

.search-bar {
  position: relative;
  width: 500px;
  margin: 8px 0 0 10px;
}

.search-bar-input {
  font-family: 'cerealMedium';
  font-size: 18px;
  color: var(--dark-gray);
  padding: 10px 200px 10px 50px;
  border-radius: 5px;
  border: none;
  border: 1px solid var(--outline-gray);
  box-shadow: 0 3px 8px 1px rgba(0, 0, 0, 0.05);
}

.search-bar-input:focus {
  padding-right: 300px;
  transition: padding 0.25s;
}

.search-bar .search-icon img {
  position: absolute;
  width: 20px;
  top: 12px;
  left: 15px;
}

.close .close-icon img {
  position: absolute;
  top: 15px;
  left: 535px;
  width: 13px; 
  opacity: 0;
}

.search-bar-input:focus + .close .close-icon img {
  position: absolute;
  top: 15px;
  left: 535px;
  width: 13px; 
  opacity: 1;
}

.close:hover {
  cursor: pointer;
}
