@import 'variables.css';

.spot-index-item-detail-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 80%;
}

.spot-index-item-detail-wrapper .thumbnail-photos-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 50%;
}

.spot-index-item-detail-wrapper .thumbnail-photos-wrapper .main-image-wrapper {
  position: relative;
  width: 50%;
  height: 99.5%;
  overflow: hidden;
  margin-right: 0.2%;
}

.spot-index-item-detail-wrapper .thumbnail-photos-wrapper .side-image-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 50%;
  height: 100%;
}

.spot-index-item-detail-wrapper .thumbnail-photos-wrapper .main-image-wrapper img {
  width: 100%;
  height: 100%;
}

.spot-index-item-detail-wrapper .thumbnail-photos-wrapper .main-image-wrapper img:hover {
  transform: scale(1.10);
  transition: transform 1s;
  cursor: pointer;
}

.spot-index-item-detail-wrapper .thumbnail-photos-wrapper .side-image-wrapper .image-wrapper {
  position: relative;
  width: 49.8%;
  height: 49.5%;
  overflow: hidden;
}

.spot-index-item-detail-wrapper .thumbnail-photos-wrapper .side-image-wrapper .image-wrapper img {
  width: 100%;
  height: 100%;
}

.spot-index-item-detail-wrapper .thumbnail-photos-wrapper .side-image-wrapper .image-wrapper img:hover {
  transform: scale(1.10);
  transition: transform 1s;
  cursor: pointer;
}

.spot-index-item-detail-wrapper .thumbnail-photos-wrapper .side-image-wrapper .image-wrapper .overlay-wrapper,
.spot-index-item-detail-wrapper .thumbnail-photos-wrapper .main-image-wrapper .overlay-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
  z-index: -1;
} 

.spot-index-item-detail-wrapper .thumbnail-photos-wrapper:hover div:not(:hover) .overlay-wrapper {
  opacity: 1;
  z-index: 1;
  transition: opacity 0.5s;
}

.spot-index-item-detail-wrapper .spot-index-item-detail-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  width: 55%;
}

.spot-index-item-detail-wrapper .spot-index-item-detail-header .name-wrapper h1 {
  font-family: 'cerealMedium';
  font-size: 32px;
  letter-spacing: 0.5px;
  color: var(--medium-gray); 
  width: 70%;
}

.spot-index-item-detail-wrapper .spot-index-item-detail-header .profile-image-wrapper img {
  width: 62px;
  border-radius: 50%;
  margin-left: -60px;
}

.spot-index-item-detail-wrapper .spot-index-item-detail-location-wrapper p {
  font-family: 'cerealLight';
  font-size: 15px;
  color: var(--medium-gray);
  margin-top: 10px;
}

.spot-index-item-detail-wrapper .spot-index-item-detail-location-wrapper .underline-wrapper {
  border-top: 1px solid var(--gray);
}

.spot-index-item-detail-wrapper .spot-index-item-detail-description .main-description-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.spot-index-item-detail-wrapper .spot-index-item-detail-description .main-description-wrapper .description-wrapper {
  width: 55%;
  margin-right: 100px;
}

.spot-index-item-detail-wrapper .spot-index-item-detail-description .main-description-wrapper .description-wrapper .header-details-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  border-bottom: 1px solid var(--underline-gray);
}

.spot-index-item-detail-wrapper .spot-index-item-detail-description .main-description-wrapper .description-wrapper .header-details-wrapper p {
  font-family: 'cerealLight';
  font-size: 16px;
  color: var(--dark-gray);
  margin: 20px 25px 0 0;
  padding-bottom: 20px;
}

.spot-index-item-detail-wrapper .spot-index-item-detail-description .main-description-wrapper .spot-index-item-detail-description-perks {
  border-bottom: 1px solid var(--underline-gray);
  margin-top: 30px;
}

.spot-index-item-detail-wrapper .spot-index-item-detail-description .main-description-wrapper .spot-index-item-detail-description-perks .entire-home-perk-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.spot-index-item-detail-wrapper .spot-index-item-detail-description .main-description-wrapper .spot-index-item-detail-description-perks .entire-home-perk-wrapper .image-wrapper .star-icon img {
  width: 23px;
  margin-right: 17px;
}

.spot-index-item-detail-wrapper .spot-index-item-detail-description .main-description-wrapper .spot-index-item-detail-description-perks .entire-home-perk-wrapper .perk-wrapper h3 {
  font-family: 'cerealRegular';
  font-size: 16px;
  color: var(--medium-gray);
}

.spot-index-item-detail-wrapper .spot-index-item-detail-description .main-description-wrapper .spot-index-item-detail-description-perks .entire-home-perk-wrapper .perk-wrapper p {
  font-family: 'cerealLight';
  font-size: 14px;
  color: var(--gray);
  margin-top: 5px;
}

.spot-index-item-detail-wrapper .spot-index-item-detail-description .main-description-wrapper .spot-index-item-detail-description-perks .sparkling-clean-perk-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 20px;
}

.spot-index-item-detail-wrapper .spot-index-item-detail-description .main-description-wrapper .spot-index-item-detail-description-perks .sparkling-clean-perk-wrapper .image-wrapper .cleaner-icon img {
  width: 15px;
  margin-right: 25px;
}

.spot-index-item-detail-wrapper .spot-index-item-detail-description .main-description-wrapper .spot-index-item-detail-description-perks .sparkling-clean-perk-wrapper .perk-wrapper h3 {
  font-family: 'cerealRegular';
  font-size: 16px;
  color: var(--medium-gray);
}

.spot-index-item-detail-wrapper .spot-index-item-detail-description .main-description-wrapper .spot-index-item-detail-description-perks .sparkling-clean-perk-wrapper .perk-wrapper p {
  font-family: 'cerealLight';
  font-size: 14px;
  color: var(--gray);
  margin-top: 5px;
}

.spot-index-item-detail-wrapper .spot-index-item-detail-description .main-description-wrapper .spot-index-item-detail-description-perks .superhost-perk-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 20px;
}

.spot-index-item-detail-wrapper .spot-index-item-detail-description .main-description-wrapper .spot-index-item-detail-description-perks .superhost-perk-wrapper .image-wrapper .badge-icon img {
  width: 16px;
  margin-right: 24px;
}

.spot-index-item-detail-wrapper .spot-index-item-detail-description .main-description-wrapper .spot-index-item-detail-description-perks .superhost-perk-wrapper .perk-wrapper h3 {
  font-family: 'cerealRegular';
  font-size: 16px;
  color: var(--medium-gray);
}

.spot-index-item-detail-wrapper .spot-index-item-detail-description .main-description-wrapper .spot-index-item-detail-description-perks .superhost-perk-wrapper .perk-wrapper p {
  font-family: 'cerealLight';
  font-size: 14px;
  color: var(--gray);
  margin-top: 5px;
}

.spot-index-item-detail-wrapper .spot-index-item-detail-description .main-description-wrapper .spot-index-item-detail-description-perks .check-in-perk-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 20px;
  padding-bottom: 30px;
}

.spot-index-item-detail-wrapper .spot-index-item-detail-description .main-description-wrapper .spot-index-item-detail-description-perks .check-in-perk-wrapper .image-wrapper .house-icon img {
  width: 25px;
  margin-right: 18px;
}

.spot-index-item-detail-wrapper .spot-index-item-detail-description .main-description-wrapper .spot-index-item-detail-description-perks .check-in-perk-wrapper .perk-wrapper h3 {
  font-family: 'cerealRegular';
  font-size: 16px;
  color: var(--medium-gray);
}

.spot-index-item-detail-wrapper .spot-index-item-detail-description .main-description-wrapper .spot-index-item-detail-description-perks .check-in-perk-wrapper .perk-wrapper p {
  font-family: 'cerealLight';
  font-size: 14px;
  color: var(--gray);
  margin-top: 5px;
}

.spot-index-item-detail-wrapper .spot-index-item-detail-description .main-description-wrapper .spot-index-item-detail-description-body {
  font-family: 'cerealRegular';
  font-size: 15px;
  margin-top: 30px;
  line-height: 1.75;
  border-bottom: 1px solid var(--underline-gray);
  padding-bottom: 30px;
  color: var(--medium-gray);
}

.spot-index-item-detail-wrapper .spot-index-item-detail-description .main-description-wrapper .spot-index-item-detail-description-sleeping-arrangements {
  margin-top: 30px;
  border-bottom: 1px solid var(--underline-gray);
}

.spot-index-item-detail-wrapper .spot-index-item-detail-description .main-description-wrapper .spot-index-item-detail-description-sleeping-arrangements h2 {
  font-family: 'cerealMedium';
  font-size: 16px;
  color: var(--medium-gray);
}

.spot-index-item-detail-wrapper .spot-index-item-detail-description .main-description-wrapper .spot-index-item-detail-description-sleeping-arrangements ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding-bottom: 40px;
  margin-top: 20px;
}

.spot-index-item-detail-wrapper .spot-index-item-detail-description .main-description-wrapper .spot-index-item-detail-description-sleeping-arrangements ul li {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 1px solid var(--underline-gray); 
  border-radius: 5px;
  padding: 25px 90px 25px 25px;
  margin-right: 20px;
}

.spot-index-item-detail-wrapper .spot-index-item-detail-description .main-description-wrapper .spot-index-item-detail-description-sleeping-arrangements ul li .bed-icon img {
  width: 25px;
}

.spot-index-item-detail-wrapper .spot-index-item-detail-description .main-description-wrapper .spot-index-item-detail-description-sleeping-arrangements ul li h3 {
  font-family: 'cerealRegular';
  font-size: 16px;
  color: var(--medium-gray);
  letter-spacing: 0.5px;
  margin-top: 15px;
}

.spot-index-item-detail-wrapper .spot-index-item-detail-description .main-description-wrapper .spot-index-item-detail-description-sleeping-arrangements ul li p {
  font-family: 'cerealLight';
  font-size: 14px;
  color: var(--medium-gray);
  margin-top: 10px;
}

.spot-index-item-detail-wrapper .spot-index-item-detail-description .main-description-wrapper .spot-index-item-detail-description-amenities {
  display: grid;
  margin-top: 30px;
}

.spot-index-item-detail-wrapper .spot-index-item-detail-description .main-description-wrapper .spot-index-item-detail-description-amenities h2 {
  font-family: 'cerealMedium';
  font-size: 16px;
  color: var(--medium-gray);
}

.spot-index-item-detail-wrapper .spot-index-item-detail-description .main-description-wrapper .spot-index-item-detail-description-amenities .amenities-grid {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 200px;
  font-family: 'cerealLight';
  font-size: 16px;
  color: var(--dark-gray);
  margin-top: 20px;
  padding-bottom: 30px;
}

.spot-index-item-detail-wrapper .spot-index-item-detail-description .main-description-wrapper .spot-index-item-detail-description-amenities .amenities-grid .wifi-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.spot-index-item-detail-wrapper .spot-index-item-detail-description .main-description-wrapper .spot-index-item-detail-description-amenities .amenities-grid .wifi-wrapper .image-wrapper .wifi-icon img {
  width: 22px;
  margin-right: 20px;
}

.spot-index-item-detail-wrapper .spot-index-item-detail-description .main-description-wrapper .spot-index-item-detail-description-amenities .amenities-grid .kitchen-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 15px;
}

.spot-index-item-detail-wrapper .spot-index-item-detail-description .main-description-wrapper .spot-index-item-detail-description-amenities .amenities-grid .kitchen-wrapper .image-wrapper .kitchen-icon img {
  width: 20px;
  margin-right: 22px;
}

.spot-index-item-detail-wrapper .spot-index-item-detail-description .main-description-wrapper .spot-index-item-detail-description-amenities .amenities-grid .breakfast-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 15px;
}

.spot-index-item-detail-wrapper .spot-index-item-detail-description .main-description-wrapper .spot-index-item-detail-description-amenities .amenities-grid .breakfast-wrapper .image-wrapper .breakfast-icon img {
  width: 23px;
  margin-right: 19px;
}

.spot-index-item-detail-wrapper .spot-index-item-detail-description .main-description-wrapper .spot-index-item-detail-description-amenities .amenities-grid .parking-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 15px;
}

.spot-index-item-detail-wrapper .spot-index-item-detail-description .main-description-wrapper .spot-index-item-detail-description-amenities .amenities-grid .parking-wrapper .image-wrapper .parking-icon img {
  width: 23px;
  margin-right: 19px;
}

.spot-index-item-detail-wrapper .spot-index-item-detail-description .main-description-wrapper .spot-index-item-detail-description-amenities .amenities-grid .pool-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 15px;
}

.spot-index-item-detail-wrapper .spot-index-item-detail-description .main-description-wrapper .spot-index-item-detail-description-amenities .amenities-grid .pool-wrapper .image-wrapper .pool-icon img {
  width: 19px;
  margin-right: 23px;
}

.spot-index-item-detail-wrapper .spot-index-item-detail-description .main-description-wrapper .spot-index-item-detail-description-amenities .amenities-grid .essentials-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 15px;
}

.spot-index-item-detail-wrapper .spot-index-item-detail-description .main-description-wrapper .spot-index-item-detail-description-amenities .amenities-grid .essentials-wrapper .image-wrapper .essentials-icon img {
  width: 20px;
  margin-right: 20px;
}

.spot-index-item-detail-wrapper .spot-index-item-detail-description .price .price-text-wrapper {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  font-family: 'cerealLight';
  color: var(--dark-gray);
  margin-top: 20px;
}

.spot-index-item-detail-wrapper .spot-index-item-detail-description .price .price-text-wrapper h2 {
  font-family: 'cerealMedium';
  color: var(--dark-gray);
  margin-right: 5px;
}

.spot-index-item-detail-wrapper .spot-index-detail-booking-form {
  width: 100%;
  border-top: 1px solid var(--underline-gray);
}

.spot-index-item-detail-wrapper .spot-index-detail-booking-form h2 {
  font-family: 'cerealMedium';
  font-size: 20px;
  color: var(--dark-gray);
  margin-top: 50px;
}