@import 'variables.css';

.spot-modal-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: white;
  z-index: 3;
}

.spot-modal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin-top: 5.5%;
}

.spot-modal .main-image-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 65%;
}

.spot-modal .main-image-wrapper .previous-arrow-wrapper .previous-arrow {
  content: url('/images/spot_detail/previous_arrow_icon.png');
}

.spot-modal .main-image-wrapper .previous-arrow-wrapper .previous-arrow:hover {
  cursor: pointer;
}

.spot-modal .main-image-wrapper .selected-image-wrapper {
  overflow: hidden;
  border-radius: 15px;
  margin: 0 8%;
  width: 100%;
  height: 550px;
}

.spot-modal .main-image-wrapper .selected-image-wrapper img {
  width: 130%;
  margin-left: -10%;
}

.spot-modal .next-arrow-wrapper .next-arrow {
  content: url('/images/spot_detail/next_arrow_icon.png');
}

.spot-modal .next-arrow-wrapper .next-arrow:hover {
  cursor: pointer;
}

.spot-modal .side-images-wrapper { 
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: -3%;
}

.spot-modal .side-images-wrapper .close-wrapper {
  width: 6.5%;
}

.spot-modal .side-images-wrapper .close-wrapper:hover {
  cursor: pointer;
}

.spot-modal .side-images-wrapper .close-wrapper img {
  width: 100%;
}

.spot-modal .side-images-wrapper .thumbnails {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 90%;
  margin-top: 8%;
}

.spot-modal .side-images-wrapper .thumbnails .thumbnail-wrapper {
  position: relative;
  width: 70px;
  height: 70px;
  overflow: hidden;
  border-radius: 7px;
  margin-top: 3.5%;
  border: 2.5px solid transparent;
  opacity: 0.5;
}

.spot-modal .side-images-wrapper .thumbnails .thumbnail-wrapper:hover {
  opacity: 1;
  transition: ease-in-out 0.25s;
  cursor: pointer;
}

.spot-modal .side-images-wrapper .thumbnails .thumbnail-wrapper.active {
  border: 2.5px solid var(--dark-gray);
  opacity: 1;
}

.spot-modal .side-images-wrapper .thumbnails .thumbnail-wrapper img {
  position: absolute;
  left: -35%;
  width: 200%;
}

.spot-modal .side-images-wrapper .numbering {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 90%;
  margin-top: 15%;
}

.spot-modal .side-images-wrapper .numbering p {
  font-family: 'cerealMedium';
  font-size: 16px;
  color: var(--medium-gray);
}