@import 'variables.css';

.spot-index-wrapper {
  display: flex;
  flex-direction: column;
  width: 80%; 
  height: 100%;
}

.spot-index-wrapper .spot-index-world-wrapper {
  display: flex;
  flex-direction: column; 
  width: 100%;
  height: 35vh;
  /* background: orange; */
}

.spot-index-wrapper .spot-index-world-wrapper h2 {
  font-family: 'cerealRegular';
  font-size: 1.5em;
  letter-spacing: 0.5px;
}

.spot-index-wrapper .spot-index-world-wrapper .world-container {
  display: flex;
  flex-direction: row;
  margin-top: 1.5em;
  width: 100%;
  height: 100%;
  /* background: yellow; */
}

.spot-index-wrapper .spot-index-world-wrapper .world-container .breezy-hollow-wrapper,
.spot-index-wrapper .spot-index-world-wrapper .world-container .lost-lure-creek-wrapper,
.spot-index-wrapper .spot-index-world-wrapper .world-container .saltwater-shores-wrapper,
.spot-index-wrapper .spot-index-world-wrapper .world-container .sunburst-island-wrapper  {
  box-shadow: 3px -1px 10px rgba(0, 0, 0, 0.15);
  text-align: left;
  border-radius: 10px;
  box-sizing: border-box;
  /* padding-bottom: 1.5em; */
  margin-right: 20px;
  width: 20%;
  height: 100%;
  background: red;
}

.image-wrapper {
  width: 100%;
  height: 80%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: var(--medium-teal);
}

/* .spot-index-wrapper .spot-index-world-wrapper .world-container .breezy-hollow-wrapper .image-wrapper,
.spot-index-wrapper .spot-index-world-wrapper .world-container .sunburst-island-wrapper .image-wrapper {
  background: var(--medium-teal); 
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 17px 35px;
} */

/* .spot-index-wrapper .spot-index-world-wrapper .world-container .saltwater-shores-wrapper .image-wrapper {
  background: var(--medium-teal); 
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 15px 35px;
} */

/* .spot-index-wrapper .spot-index-world-wrapper .world-container .lost-lure-creek-wrapper .image-wrapper {
  background: var(--medium-teal); 
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 25px 35px 28px 35px;
} */

.spot-index-wrapper .spot-index-world-wrapper .world-container .breezy-hollow-wrapper .image-wrapper img,
.spot-index-wrapper .spot-index-world-wrapper .world-container .saltwater-shores-wrapper .image-wrapper img,
.spot-index-wrapper .spot-index-world-wrapper .world-container .lost-lure-creek-wrapper .image-wrapper img,
.spot-index-wrapper .spot-index-world-wrapper .world-container .sunburst-island-wrapper .image-wrapper img   {
  width: 100%; 
}

/* .spot-index-wrapper .spot-index-world-wrapper .world-container .breezy-hollow-wrapper p,
.spot-index-wrapper .spot-index-world-wrapper .world-container .saltwater-shores-wrapper p,
.spot-index-wrapper .spot-index-world-wrapper .world-container .lost-lure-creek-wrapper p,
.spot-index-wrapper .spot-index-world-wrapper .world-container .sunburst-island-wrapper p {
  font-family: 'cerealRegular';
  font-size: 14px;
  font-weight: 900;
  color: var(--gray);
  margin: 10px 0 0 20px;
} */

.spot-index-wrapper .spot-index-top-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 80px;
  padding-bottom: 50px;
}

.spot-index-wrapper .spot-index-top-wrapper h2 {
  font-family: 'cerealRegular';
  font-size: 25px;
  letter-spacing: 0.5px;
}

.spot-index-wrapper .spot-index-top-wrapper h3 {
  font-family: 'cerealLight';
  font-size: 16px;
  letter-spacing: 0.5px;
  margin-top: 5px;  
}

.spot-index-wrapper .spot-index-top-wrapper ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style: none;
  margin-top: 30px;
}

.spot-index-wrapper .spot-index-top-wrapper ul a {
  text-decoration: none;
  margin: 0 1% 3% 0;
}

.spot-index-wrapper .spot-index-top-wrapper ul a li .image-wrapper img {
  width: 215px;
  height: 140px;
  border-radius: 5px;
}

.spot-index-wrapper .spot-index-top-wrapper ul a li .superhost-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.spot-index-wrapper .spot-index-top-wrapper ul a li .superhost-wrapper p:first-of-type {
  font-family: 'cerealRegular';
  font-size: 13px;
  text-transform: uppercase;
  color: var(--dark-gray);
  border-radius: 5px;
  border: 1px solid var(--dark-gray);
  margin: 10px 5px 0 0;
  padding: 3px 5px;
}

.spot-index-wrapper .spot-index-top-wrapper ul a li .superhost-wrapper p:last-of-type {
  font-family: 'cerealLight';
  font-size: 14px;
  color: var(--gray);
  margin-top: 10px;
}

.spot-index-wrapper .spot-index-top-wrapper ul a li h4 {
  font-family: 'cerealRegular';
  font-size: 16px;
  color: var(--dark-gray);
  margin-top: 5px;
}

.spot-index-wrapper .spot-index-top-wrapper ul a li p {
  font-family: 'cerealLight';
  font-size: 16px;
  color: var(--dark-gray);
  margin-top: 5px;
}

.spot-index-wrapper .spot-index-top-wrapper ul a li p .price-wrapper {
  font-family: 'cerealMedium';
  color: var(--dark-gray); 
}