@import 'variables.css';

.spot-modal-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: white;
  z-index: 3;
}

.spot-modal {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 8%;
}

.spot-modal .selected-image-wrapper {
  position: relative;
  width: 50%;
  height: 70%;
  overflow: hidden;
  border-radius: 15px;
}

.spot-modal .selected-image-wrapper img {
  position: absolute;
  left: -10%;
  width: 125%;
}

.spot-modal .side-images-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.spot-modal .side-images-wrapper .close-wrapper {
  width: 8%;
}

.spot-modal .side-images-wrapper .close-wrapper:hover {
  cursor: pointer;
}

.spot-modal .side-images-wrapper .close-wrapper img {
  width: 100%;
}

.spot-modal .side-images-wrapper .thumbnails {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 90%;
  margin-top: 15%;
}

.spot-modal .side-images-wrapper .thumbnails .thumbnail-wrapper {
  position: relative;
  width: 70px;
  height: 70px;
  overflow: hidden;
  border-radius: 5px;
  margin-top: 3.5%;
}

.spot-modal .side-images-wrapper .thumbnails .thumbnail-wrapper.active {
  border: 2.5px solid var(--dark-gray);
}

.spot-modal .side-images-wrapper .thumbnails .thumbnail-wrapper img {
  position: absolute;
  left: -35%;
  width: 200%;
}

.spot-modal .side-images-wrapper .numbering {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 90%;
  margin-top: 15%;
}

.spot-modal .side-images-wrapper .numbering p {
  font-family: 'cerealMedium';
  font-size: 16px;
  color: var(--medium-gray);
}