@font-face {
  font-family: 'cerealRegular';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/CerealRegular.woff') format('woff');
}

@font-face {
  font-family: 'cerealLight';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/CerealLight.woff') format('woff');
}


@font-face {
font-family: 'cerealMedium';
font-style: normal;
font-weight: normal;
src: url('../fonts/CerealMedium.woff') format('woff');
}


@font-face {
  font-family: 'cerealBold';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/CerealBold.woff') format('woff');
}


@font-face {
  font-family: 'cerealExtraBold';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/CerealExtraBold.woff') format('woff');
}


@font-face {
  font-family: 'cerealBlack';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/CerealBlack.woff') format('woff');  
}

:root {
  --dark-gray:	#222222;
  --gray: #707070;
  --medium-gray: #434343;
  --light-gray: #F7F7F7;
  --outline-gray: #C3C3C3;
  --underline-gray: #E6E6E6;
  --light-teal: #EDF5F7; 
  --medium-teal: #A9D9D0;
  --teal: #CEEEEC;
  --dark-teal: #128387;
  --pink: #E22452;
  --medium-pink: #DE1F62;
  --dark-pink: #D51465;
  --light-red: #FFF6F5;
  --red: #A93426;
}