.navbar {
  background-color: white;
  border-bottom: 1px solid #e4e4e4;
  justify-content: space-around;
  vertical-align: middle;
  margin-top: 0;
  padding: 0;
  height: 80px;
  position: sticky;
  top: 0;
  z-index: 100;
	width: 99%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  font-family: "Circular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-decoration: none;
}
.nav-left {
  display: flex;
  justify-content: flex-start;
  flex: 3;
}
.nav-main {
  /* display: table-cell; */
  /* display: block; */
  vertical-align: middle;
	max-height: 80px;
  background-color: white;
  display: flex;
  flex-direction: row;
  flex-grow: 2;
  justify-content: flex-end;
  padding-right: 3%;
}


@media (max-width: 850px) {
  .right-navbar {
    display: none;
  }
}
ul.nav-main-list {
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  flex-direction: row;
  align-items: center;
  height: 80px;
  margin: 0;
  padding-right: 3%;
}

div.logo {
  margin: auto 0 auto 40px;
}

.logo img {
  width: 55px;
}

.nav-mid {
	display: flex;
	position: relative;
  flex: 3;
}

.search-bar {
	background-color: white;
}

div.nav-main ul {
  display: flex;
  justify-content: space-evenly;
  height: fit-content;
}

div.nav-main ul li .nav-link {
  font-size: 12px;
  font-weight: 600;
  color: #737373;
  line-height: 20px;
  padding: 0px 10px;
  margin: 0px 0px;
  border: none;
  background: none;
  position: absolute;
	top: 0;
	background-color: white;
  display: inline-flex;
  position: relative;
  height: 80px;
  vertical-align: baseline;
  align-items: center;
  flex-wrap: nowrap;
}

div button.profile-link {
	padding: 0;
	margin: 0;
	height: fit-content;
}

.messages-div button {
   right: 140px;
}

.trips-div button {
  right: 140px;
}

div.nav-main li .nav-link:hover {
  border-bottom: 2px solid gray;
  cursor: pointer;
}

button.nav-link:active {
  border-bottom: none;
  outline: none;
}

button.nav-link:focus {
  outline: none;
}