@import 'variables.css';

.spot-index-item-detail-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 80%;
}

.spot-index-item-detail-wrapper .spot-index-item-detail-header h1 {
  font-family: 'cerealMedium';
  font-size: 26px;
  letter-spacing: 0.5px;
  color: var(--gray);
}

.spot-index-item-detail-wrapper .spot-index-item-detail-header .spot-index-item-detail-location-wrapper p {
  font-family: 'cerealMedium';
  font-size: 14px;
  color: var(--medium-gray);
  margin-top: 15px;
}

.spot-index-item-detail-wrapper .spot-index-item-detail-photos {
  width: 100%;
  height: 400px;
  background: orange;
  margin-top: 25px;
}

.spot-index-item-detail-wrapper .spot-index-item-detail-description {
  width: 60%;
  margin-top: 50px;
}

.spot-index-item-detail-wrapper .spot-index-item-detail-description .spot-index-item-detail-description-header h2 {
  font-family: 'cerealMedium';
  font-size: 20px;
  color: var(--gray);
}

.spot-index-item-detail-wrapper .spot-index-item-detail-description .spot-index-item-detail-description-header p {
  font-family: 'cerealRegular';
  font-size: 16px;
  color: var(--gray);
  margin-top: 10px;
  padding-bottom: 30px;
}

.spot-index-item-detail-wrapper .spot-index-item-detail-description .spot-index-item-detail-description-header {
  border-bottom: 1px solid var(--lightest-gray);
}

.spot-index-item-detail-wrapper .spot-index-item-detail-description .spot-index-item-detail-description-perks {
  border-bottom: 1px solid var(--lightest-gray);
  margin-top: 30px;
}

.spot-index-item-detail-wrapper .spot-index-item-detail-description .spot-index-item-detail-description-perks .entire-home-perk-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.spot-index-item-detail-wrapper .spot-index-item-detail-description .spot-index-item-detail-description-perks .entire-home-perk-wrapper .image-wrapper .star-icon img {
  width: 23px;
  margin-right: 20px;
}

.spot-index-item-detail-wrapper .spot-index-item-detail-description .spot-index-item-detail-description-perks .entire-home-perk-wrapper .perk-wrapper h3 {
  font-family: 'cerealRegular';
  font-size: 16px;
}

.spot-index-item-detail-wrapper .spot-index-item-detail-description .spot-index-item-detail-description-perks .entire-home-perk-wrapper .perk-wrapper p {
  font-family: 'cerealLight';
  font-size: 14px;
  color: var(--medium-gray);
  margin-top: 5px;
}

.spot-index-item-detail-wrapper .spot-index-item-detail-description .spot-index-item-detail-description-perks .sparkling-clean-perk-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 20px;
}

.spot-index-item-detail-wrapper .spot-index-item-detail-description .spot-index-item-detail-description-perks .sparkling-clean-perk-wrapper .image-wrapper .cleaner-icon img {
  width: 15px;
  margin-right: 25px;
}

.spot-index-item-detail-wrapper .spot-index-item-detail-description .spot-index-item-detail-description-perks .sparkling-clean-perk-wrapper .perk-wrapper h3 {
  font-family: 'cerealRegular';
  font-size: 16px;
}

.spot-index-item-detail-wrapper .spot-index-item-detail-description .spot-index-item-detail-description-perks .sparkling-clean-perk-wrapper .perk-wrapper p {
  font-family: 'cerealLight';
  font-size: 14px;
  color: var(--medium-gray);
  margin-top: 5px;
}

.spot-index-item-detail-wrapper .spot-index-item-detail-description .spot-index-item-detail-description-perks .superhost-perk-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 20px;
}

.spot-index-item-detail-wrapper .spot-index-item-detail-description .spot-index-item-detail-description-perks .superhost-perk-wrapper .image-wrapper .badge-icon img {
  width: 16px;
  margin-right: 24px;
}

.spot-index-item-detail-wrapper .spot-index-item-detail-description .spot-index-item-detail-description-perks .superhost-perk-wrapper .perk-wrapper h3 {
  font-family: 'cerealRegular';
  font-size: 16px;
}

.spot-index-item-detail-wrapper .spot-index-item-detail-description .spot-index-item-detail-description-perks .superhost-perk-wrapper .perk-wrapper p {
  font-family: 'cerealLight';
  font-size: 14px;
  color: var(--medium-gray);
  margin-top: 5px;
}

.spot-index-item-detail-wrapper .spot-index-item-detail-description .spot-index-item-detail-description-perks .check-in-perk-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 20px;
  padding-bottom: 30px;
}

.spot-index-item-detail-wrapper .spot-index-item-detail-description .spot-index-item-detail-description-perks .check-in-perk-wrapper .image-wrapper .house-icon img {
  width: 25px;
  margin-right: 18px;
}

.spot-index-item-detail-wrapper .spot-index-item-detail-description .spot-index-item-detail-description-perks .check-in-perk-wrapper .perk-wrapper h3 {
  font-family: 'cerealRegular';
  font-size: 16px;
}

.spot-index-item-detail-wrapper .spot-index-item-detail-description .spot-index-item-detail-description-perks .check-in-perk-wrapper .perk-wrapper p {
  font-family: 'cerealLight';
  font-size: 14px;
  color: var(--medium-gray);
  margin-top: 5px;
}

.spot-index-item-detail-wrapper .spot-index-item-detail-description .spot-index-item-detail-description-main {
  font-family: 'cerealRegular';
  font-size: 15px;
  margin-top: 30px;
  line-height: 1.75;
  border-bottom: 1px solid var(--lightest-gray);
  padding-bottom: 30px;
  color: var(--gray);
}

.spot-index-item-detail-wrapper .spot-index-item-detail-description .spot-index-item-detail-description-amenities {
  display: grid;
  margin-top: 50px;
  border-bottom: 1px solid var(--lightest-gray);
}

.spot-index-item-detail-wrapper .spot-index-item-detail-description .spot-index-item-detail-description-amenities h2 {
  font-family: 'cerealMedium';
  font-size: 20px;
  color: var(--gray);
}

.spot-index-item-detail-wrapper .spot-index-item-detail-description .spot-index-item-detail-description-amenities .amenities-grid {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 200px;
  font-family: 'cerealLight';
  font-size: 16px;
  color: var(--gray);
  margin-top: 30px;
  padding-bottom: 30px;
}

.spot-index-item-detail-wrapper .spot-index-item-detail-description .spot-index-item-detail-description-amenities .amenities-grid .wifi-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.spot-index-item-detail-wrapper .spot-index-item-detail-description .spot-index-item-detail-description-amenities .amenities-grid .wifi-wrapper .image-wrapper .wifi-icon img {
  width: 22px;
  margin-right: 20px;
}

.spot-index-item-detail-wrapper .spot-index-item-detail-description .spot-index-item-detail-description-amenities .amenities-grid .kitchen-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 15px;
}

.spot-index-item-detail-wrapper .spot-index-item-detail-description .spot-index-item-detail-description-amenities .amenities-grid .kitchen-wrapper .image-wrapper .kitchen-icon img {
  width: 20px;
  margin-right: 22px;
}

.spot-index-item-detail-wrapper .spot-index-item-detail-description .spot-index-item-detail-description-amenities .amenities-grid .breakfast-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 15px;
}

.spot-index-item-detail-wrapper .spot-index-item-detail-description .spot-index-item-detail-description-amenities .amenities-grid .breakfast-wrapper .image-wrapper .breakfast-icon img {
  width: 23px;
  margin-right: 19px;
}

.spot-index-item-detail-wrapper .spot-index-item-detail-description .spot-index-item-detail-description-amenities .amenities-grid .parking-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 15px;
}

.spot-index-item-detail-wrapper .spot-index-item-detail-description .spot-index-item-detail-description-amenities .amenities-grid .parking-wrapper .image-wrapper .parking-icon img {
  width: 23px;
  margin-right: 19px;
}

.spot-index-item-detail-wrapper .spot-index-item-detail-description .spot-index-item-detail-description-amenities .amenities-grid .pool-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 15px;
}

.spot-index-item-detail-wrapper .spot-index-item-detail-description .spot-index-item-detail-description-amenities .amenities-grid .pool-wrapper .image-wrapper .pool-icon img {
  width: 19px;
  margin-right: 23px;
}

.spot-index-item-detail-wrapper .spot-index-item-detail-description .spot-index-item-detail-description-amenities .amenities-grid .essentials-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 15px;
}

.spot-index-item-detail-wrapper .spot-index-item-detail-description .spot-index-item-detail-description-amenities .amenities-grid .essentials-wrapper .image-wrapper .essentials-icon img {
  width: 20px;
  margin-right: 20px;
}