@font-face {
  font-family: 'cerealRegular';
  font-style: normal;
  font-weight: normal;
  src: url('./fonts/CerealRegular.woff') format('woff');
}

@font-face {
  font-family: 'cerealLight';
  font-style: normal;
  font-weight: normal;
  src: url('./fonts/CerealLight.woff') format('woff');
}


@font-face {
font-family: 'cerealMedium';
font-style: normal;
font-weight: normal;
src: url('./fonts//CerealMedium.woff') format('woff');
}


@font-face {
  font-family: 'cerealBold';
  font-style: normal;
  font-weight: normal;
  src: url('./fonts/CerealBold.woff') format('woff');
}


@font-face {
  font-family: 'cerealExtraBold';
  font-style: normal;
  font-weight: normal;
  src: url('./fonts/CerealExtraBold.woff') format('woff');
}


@font-face {
  font-family: 'cerealBlack';
  font-style: normal;
  font-weight: normal;
  src: url('./fonts/CerealBlack.woff') format('woff'); 
}

:root {
  --lightest-gray: #DCDCDC;
  --light-gray: #F7F7F7;
  --medium-gray: #707070;
  --gray:	#222222;
}