@import '../variables.css';

.datepicker.form-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
  margin: 5% 0 10% 0;
}

.datepicker.calendars-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  width: 70%;
  margin-right: 2em;
}

/* Previous and next arrow styling */

.datepicker.prev-arrow-icon img,
.datepicker.next-arrow-icon img {
  width: 0.5em;
}

.datepicker.prev-arrow-icon:hover,
.datepicker.next-arrow-icon:hover {
  cursor: pointer;
}

/* User input box styling */

.datepicker.user-input-wrapper {
  position: relative;
  width: 30%;
}

.datepicker.dates-input-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.datepicker.dates-input-wrapper input[type="text"] {
  font-family: 'cerealRegular';
  color: var(--dark-gray);
  border: none;
  border: 1px solid var(--outline-gray); 
  box-sizing: border-box;
  padding: 5% 0 5% 8%;
  width: 50%;
}

.datepicker.dates-input-wrapper input[type="text"]:first-of-type {
  border-right: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.datepicker.dates-input-wrapper input[type="text"]:last-of-type {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* Guests styling */

.datepicker.guests-input-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border: 1px solid var(--outline-gray);
  border-radius: 10px;
  background: white;
  margin-top: 5%;
  box-sizing: border-box;
  padding: 3% 1.5% 3% 4.5%;
}

.datepicker.num-guests-wrapper label {
  font-family: 'cerealLight';
  color: var(--gray);
}

.datepicker.num-guests-wrapper p {
  font-family: 'cerealRegular';
  color: var(--dark-gray);
}

.datepicker.dropdown-arrow-wrapper,
.datepicker.dropdown-arrow-wrapper .active {
  width: 5%;
  margin-right: 3%;
}

.datepicker.dropdown-menu-wrapper {
  position: absolute;
  top: 100%;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 95%;
  border: 1px solid var(--outline-gray); 
  border-top: none;
  border-radius: 10px;
  background: white;
  box-shadow: 0 0 7px 0.5px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  padding: 8% 5%;
  z-index: 2;
}

.datepicker.option-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: 'cerealRegular';
  color: var(--dark-gray);
  letter-spacing: 0.5px;
  width: 100%;
  margin-bottom: 5%;
}

.datepicker.label-wrapper {
  width: 60%;
}

.datepicker.label-wrapper p:last-of-type {
  font-family: 'cerealLight';
  color: var(--dark-gray);
  font-size: 12px;
}

.datepicker.buttons-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 30%;
}

.datepicker.subtract-button-wrapper,
.datepicker.add-button-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.datepicker.subtract-button,
.datepicker.add-button {
  width: 2em;
}

.datepicker.subtract-icon.disabled,
.datepicker.add-button.disabled {
  width: 2em;
  cursor: not-allowed;
}

.datepicker.max-message-wrapper {
  font-family: 'cerealLight';
  font-size: 14px;
  width: 90%;
}

.datepicker.close-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
}

.datepicker.close-wrapper p {
  display: inline-block;
  font-family: 'cerealMedium';
  text-decoration: underline;
  box-sizing: border-box;
  padding: 0.3em 1em;
  margin-top: 3%;
}

.datepicker.close-wrapper p:hover {
  background: var(--light-gray);
  border-radius: 5px;
  cursor: pointer;
}

/* Calendar styling */

.datepicker.months-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
}

.datepicker.start-end-month-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

.month.header-wrapper {
  font-family: 'cerealRegular';
  font-weight: 900;
  letter-spacing: 0.5px;
}

.month.month-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.month.month-wrapper:first-of-type {
  margin-right: 10%;
}

.month.month-wrapper .days-wrapper {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  column-gap: 1%;
  row-gap: 1%;
  margin-top: 5%;
  font-family: 'cerealLight';
  font-size: 14px;
  text-align: center;
  width: 100%;
}

.month.days-wrapper .weekday {
  font-family: 'cerealLight';
  color: var(--gray);
  margin-bottom: 20%;
}

.number {
  box-sizing: border-box;
  padding: 1em;
  background: var(--light-teal);
  border-radius: 3px;
  font-family: 'cerealMedium';
  text-align: center;
  color: var(--dark-teal);
}

.number:hover {
  background: var(--teal);
  cursor: pointer;
}

.clear-dates-wrapper {
  margin-top: 5em;
}

.clear-dates-wrapper button {
  background: transparent;
  border: none;
  font-family: 'cerealMedium';
  font-size: 13px;
  text-decoration: underline;
  padding: 10px 12px;
}

.clear-dates-wrapper button:hover {
  background: var(--light-gray);
  border-radius: 5px;
  cursor: pointer;
}

/* Dynamic styling */

@media screen and (min-width: 320px) {
  .datepicker.dates-input-wrapper input[type="text"],
  .month.header-wrapper,
  .datepicker.num-guests-wrapper p {
    font-size: calc(10px + 6 * ((100vw - 320px) / 680));
  }

  .datepicker.num-guests-wrapper label {
    font-size: calc(10px + 2 * ((100vw - 320px) / 680));
  }

  .month.days-wrapper .weekday,
  .number {
    font-size: calc(5px + 8 * ((100vw - 320px) / 680));
  }
}

@media screen and (min-width: 1000px) {
  .datepicker.dates-input-wrapper input[type="text"],
  .month.header-wrapper,
  .datepicker.num-guests-wrapper p {
    font-size: 16px;
  }

  .datepicker.num-guests-wrapper label {
    font-size: 12px;
  }

  .month.days-wrapper .weekday,
  .number {
    font-size: 13px;
  }
}

/* Small screen styling */

@media screen and (max-width: 1230px) {
  .datepicker.calendars-wrapper {
    width: 100%;
  }

  .datepicker.form-wrapper {
    display: flex;
    flex-direction: column;
  }

  .datepicker.user-input-wrapper {
    width: 100%;
    margin-top: 5%;
  }

  .datepicker.dates-input-wrapper input[type="text"] {
    box-sizing: border-box;
    padding: 2% 0 2% 3%;
  }

  .datepicker.dates-input-wrapper input[type="text"]:first-of-type {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  .datepicker.dates-input-wrapper input[type="text"]:last-of-type {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .datepicker.guests-input-wrapper {
    border-radius: 5px;
    box-sizing: border-box;
    padding: 2% 0 2% 3%;
  }

  .datepicker.dropdown-arrow-wrapper,
  .datepicker.dropdown-arrow-wrapper active {
    width: 3%;
    margin-right: 3%;
  }
}