@import '../variables.css';

.search-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin-top: 5em;
}

.search-results-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 92vh;
}

.search-index-container {
  width: 55%;
  height: 100%;
  box-sizing: border-box;
  padding: 3em 2em;
  overflow: scroll;
}

.map-container {
  width: 45%;
  height: 100%;
}