@import '../variables.css';

.spot-index-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; 
  height: 100%;
  box-sizing: border-box;
  padding-top: 10%;
}

/* TESTING...*/

/* .testing {
  width: 100%;
}

.square {
  position: relative;
  width: 15%;
  padding-bottom: 15%;
  background:gold;
} */

/* World regions styling */

.spot-index.worlds-wrapper {
  display: flex;
  flex-direction: column; 
  width: 80%;
  height: 30%;
  /* height: 30vh; */
  /* background: red; */
}

.spot-index.worlds-wrapper h2 {
  font-family: 'cerealRegular';
  font-size: 1.5em;
  letter-spacing: 0.5px; 
}

/* .world-container {
  display: flex;
  flex-direction: row;
  margin-top: 1.5em;
  width: 100%;
  height: 80%;
} */

.spot-index.worlds-wrapper ul { 
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  margin-top: 1.5em;
  list-style: none;
  /* height: 100%; */
}

.spot-index.worlds-wrapper ul li {
  position: relative;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  box-shadow: 3px -1px 10px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  margin-right: 2%;
  width: 15%;
  /* padding-top: 15%; */
  /* height: 100%; */
}

.spot-index.worlds-wrapper ul li a {
  /* position: absolute; */
  /* position: relative; */
  /* top: 0;
  left: 0; */
  text-decoration: none;
  font-family: 'cerealRegular';
  font-size: 0.9em;
  color: var(--gray);
  width: 100%;
  /* padding-top: 100%; */
  /* height: 15em; */
  /* height: 100%; */
}

/* .main-content-wrapper {
  position: absolute;
  top: 0;
  left: 0;
} */

.region.text-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  padding-left: 1.5em;
  width: 100%;
  height: 20%; 
}

.region.image-wrapper { 
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: var(--medium-teal);
  overflow: hidden;
  box-sizing: border-box;
  padding: 1em;
}

.region.image-wrapper img {
  height: 90%;
}

/* Top rated stays styling */

.spot-index-top-wrapper {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 7em 0;
}

.spot-index-top-wrapper h2 {
  font-family: 'cerealRegular';
  font-size: 1.5em;
  letter-spacing: 0.5px;
}

.spot-index-top-wrapper h3 {
  font-family: 'cerealLight';
  font-size: 1em;
  letter-spacing: 0.5px;
  margin-top: 5px;  
}

.spot-index-top-wrapper ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style: none;
  margin-top: 30px; 
  width: 100%;
}

.spot-index-top-wrapper ul li {
  width: 22%;
  margin: 0 2em 2em 0; 
}

.top-spot-wrapper {
  width: 100%;
  height: 100%;
}

.top-rated.image-wrapper {
  width: 100%;
  height: 60%;
  border-radius: 5px;
  overflow: hidden;
}

.top-rated.image-wrapper img {
  width: 100%;
  height: 100%;
}

.top-rated-text-wrapper {
  margin-top: 0.5em;
}

.superhost-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.spot-index-top-wrapper ul li a {
  text-decoration: none;
}

.spot-index-top-wrapper ul li a .superhost-wrapper p:first-of-type {
  font-family: 'cerealRegular';
  font-size: 0.813em;
  text-transform: uppercase;
  color: var(--dark-gray);
  border-radius: 5px;
  border: 1px solid var(--dark-gray);
  padding: 0.3em;
  margin-right: 0.5em;
}

.spot-index-top-wrapper ul li a .superhost-wrapper p:last-of-type {
  font-family: 'cerealLight';
  font-size: 1em;
  color: var(--gray);
}

.spot-index-wrapper .spot-index-top-wrapper ul li a h4 {
  font-family: 'cerealRegular';
  font-size: 1em;
  color: var(--dark-gray);
  margin-top: 0.357em;
}

.spot-index-wrapper .spot-index-top-wrapper ul li a p {
  font-family: 'cerealLight';
  font-size: 1em;
  color: var(--dark-gray);
  margin-top: 0.2em;
}

.price-wrapper {
  font-family: 'cerealMedium';
  color: var(--dark-gray); 
}