@import '../variables.css';

.spot-detail.main-content-wrapper { 
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  margin-top: 12vh; 
}

/* Photo gallery thumbnails styling */

.spot-detail.photo-thumbs-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-top: 27%;
}

.spot-detail.main-image-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 49.7%;
  height: 100%;
  overflow: hidden;
}

.spot-detail.main-image-wrapper img {
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  transform: scale(1.2);
}

.spot-detail.main-image-wrapper img:hover {
  transform: scale(1.3);
  transition: transform 1s;
  cursor: pointer;
}

.side-image-wrapper {
  position: absolute;
  top: 0;
  left: 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  width: 50%;
  height: 100%;
}

.side-image-wrapper .image-wrapper {
  position: relative;
  width: 49.7%;
  height: 49.5%;
  overflow: hidden;
}

.side-image-wrapper .image-wrapper img {
  position: absolute;
  top: 0;
  left: 0;
  transform: scale(1.5);
  width: 100%;
}

.side-image-wrapper .image-wrapper img:hover {
  transform: scale(1.7);
  transition: transform 1s;
  cursor: pointer; 
}

.side-image-wrapper .image-wrapper .overlay-wrapper,
.spot-detail.main-image-wrapper .overlay-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
  z-index: -1;
} 

.spot-detail.photo-thumbs-wrapper:hover div:not(:hover) .overlay-wrapper {
  opacity: 1;
  z-index: 1;
  transition: opacity 0.5s;
}  

.view-images-wrapper button {
  position: absolute;
  top: 85%;
  left: 90%;
  z-index: 1;
  font-family: 'cerealMedium';
  color: var(--medium-gray);
  background: white;
  border: none;
  box-sizing: border-box;
  padding: 0.5% 1%;
  border-radius: 0.3em; 
  /* display: none; */
}

.view-images-wrapper button:hover {
  cursor: pointer;
}

/* Main content styling */

.spot-detail.main-content-container {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 0 10%;
}

.spot-detail.header-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  margin-top: 2%;
}

.spot-detail.location-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 55%;
}

.spot-detail.location-wrapper h1 {
  font-family: 'cerealMedium';
  letter-spacing: 0.5px;
  color: var(--medium-gray); 
}

.spot-detail.location-wrapper p {
  font-family: 'cerealLight';
  margin-top: 1%;
}

.spot-detail.location-wrapper img {
  width: 10%;
  height: 10%;
  border-radius: 50%;

}

/* User and price styling */

.spot-detail.user-price-wrapper {
  border: 1px solid var(--outline-gray);
  box-sizing: border-box;
  padding: 0.5% 5%;
}

.spot-detail.user-price-wrapper p {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: 'cerealLight';
  color: var(--medium-gray);
}

.spot-detail.user-price-wrapper p span {
  display: inline-block;
  font-family: 'cerealMedium';
  color: var(--medium-gray);
  margin-right: 0.2em;
}

/* Main description styling */

.spot-detail.gen-info-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 55%;
  border-bottom: 1px solid var(--underline-gray);
}

.spot-detail.gen-info-wrapper p {
  font-family: 'cerealLight';
  color: var(--dark-gray);
  margin: 3% 5% 0 0;
  padding-bottom: 3%;
}

/* Perks styling */

.spot-detail.perks-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid var(--underline-gray);
  box-sizing: border-box;
  padding: 3% 0;
  width: 55%;
}

.spot-detail.perk-wrapper h3 {
  font-family: 'cerealRegular';
  color: var(--medium-gray);
}

.spot-detail.perk-wrapper p {
  font-family: 'cerealLight';
  color: var(--gray);
  margin-top: 0.5em;
}

.spot-detail.perk-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin: 1.5% 0;
}

.spot-detail.perk-wrapper:first-of-type {
  padding-top: 0;
}

.spot-detail.perk-wrapper:last-of-type {
  padding-bottom: 0;
}

.spot-detail.perk-wrapper img {
  width: 1.6em;
  height: 1.6em;
  margin-right: 2%;
}

.spot-detail.text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* Description styling */

.spot-detail.description-wrapper {
  font-family: 'cerealRegular';
  line-height: 1.75;
  border-bottom: 1px solid var(--underline-gray);
  color: var(--medium-gray);
  box-sizing: border-box;
  padding: 3% 0;
  width: 55%;
}

/* Sleeping arrangements styling */

.spot-detail.sleeping-wrapper {
  border-bottom: 1px solid var(--underline-gray);
  box-sizing: border-box;
  padding: 3% 0;
  width: 55%;
}

.spot-detail.sleeping-wrapper h2 {
  font-family: 'cerealRegular';
  color: var(--medium-gray);
}

.spot-detail.sleeping-wrapper ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin-top: 5%;
}

.spot-detail.sleeping-wrapper ul li {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 1px solid var(--underline-gray); 
  border-radius: 5px;
  box-sizing: border-box;
  padding: 5% 13% 5% 5%;
  margin-right: 3%;
}

.spot-detail.sleeping-wrapper ul li img {
  width: 1.5em;
}

.spot-detail.sleeping-wrapper ul li h3 {
  font-family: 'cerealRegular';
  color: var(--medium-gray);
  letter-spacing: 0.5px;
  margin-top: 10%;
}

.spot-detail.sleeping-wrapper ul li p {
  font-family: 'cerealLight';
  color: var(--medium-gray);
  margin-top: 10%;
}

/* Amenities styling */

.amenities-wrapper {
  box-sizing: border-box;
  padding: 3% 0;
  width: 55%;
}

.spot-detail.amenities-wrapper h2 {
  font-family: 'cerealRegular';
  color: var(--medium-gray);
}

.amenities-wrapper ul {
  display: flex;
  flex-direction: column; 
  flex-wrap: wrap;
  margin-top: 3%;
  width: 100%;
  height: 100%;
}

.amenities-wrapper ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 45%;
  margin: 2% 0;
}

.amenities-wrapper ul li img {
  width: 1.5em;
  height: 1.5em;
  margin-right: 5%;
}

.amenities-wrapper ul li p {
  font-family: 'cerealRegular';
  font-size: 16px;
  color: var(--dark-gray);
}

/* Datepicker styling */

.spot-detail.booking-wrapper {
  width: 100%;
  border-top: 1px solid var(--underline-gray);
}

.spot-detail.booking-wrapper h2 {
  font-family: 'cerealRegular';
  color: var(--dark-gray);
  margin-top: 5%;
}

/* Dynamic styling */

@media screen and (min-width: 320px) {
  .view-images-wrapper button {
    font-size: calc(2px + 14 * ((100vw - 320px) / 680));
  }

  .spot-detail.location-wrapper h1 {
    font-size: calc(16px + 16 * ((100vw - 320px) / 680));
  }

  .spot-detail.user-price-wrapper p,
  .spot-detail.description-wrapper {
    font-size: calc(10px + 5 * ((100vw - 320px) / 680));
  }

  .spot-detail.user-price-wrapper p span {
    font-size: calc(12px + 12 * ((100vw - 320px) / 680));
  }

  .spot-detail.gen-info-wrapper p,
  .spot-detail.perk-wrapper h3,
  .spot-detail.sleeping-wrapper h2,
  .spot-detail.amenities-wrapper h2,
  .spot-detail.booking-wrapper h2 {
    font-size: calc(12px + 4 * ((100vw - 320px) / 680));
  }

  .spot-detail.perk-wrapper p,
  .spot-detail.sleeping-wrapper ul li p  {
    font-size: calc(10px + 4 * ((100vw - 320px) / 680));
  }

  .spot-detail.sleeping-wrapper ul li h3,
  .amenities-wrapper ul li p {
    font-size: calc(8px + 8 * ((100vw - 320px) / 680));
  }
}

@media screen and (min-width: 1000px) {
  .view-images-wrapper button {
    font-size: 16px;
  }

  .spot-detail.location-wrapper h1 {
    font-size: 32px;
  }

  .spot-detail.user-price-wrapper p,
  .spot-detail.description-wrapper {
    font-size: 15px;
  }

  .spot-detail.user-price-wrapper p span,
  .spot-detail.sleeping-wrapper h2,
  .spot-detail.amenities-wrapper h2,
  .spot-detail.booking-wrapper h2 {
    font-size: 24px;
  }

  .spot-detail.gen-info-wrapper p,
  .spot-detail.perk-wrapper h3,
  .spot-detail.sleeping-wrapper ul li h3,
  .amenities-wrapper ul li p {
    font-size: 16px;
  }

  .spot-detail.perk-wrapper p,
  .spot-detail.sleeping-wrapper ul li p  {
    font-size: 14px;
  }
}

/* Mobile and small screen styling */

@media screen and (max-width: 920px) {
  .spot-detail.header-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    margin-top: 2%;
  }

  .spot-detail.location-wrapper {
    width: 100%;
  }

  .spot-detail.user-price-wrapper {
    margin-top: 3%;
  }

  .spot-detail.gen-info-wrapper,
  .spot-detail.perks-wrapper,
  .spot-detail.description-wrapper {
    width: 100%;
  }
}