@import '../variables.css';

.spot-index.main-container { 
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; 
  height: 100%;
}

/* World regions styling */

.spot-index.worlds-wrapper {
  display: flex;
  flex-direction: column; 
  width: 100%;
  box-sizing: border-box;
  padding: 0 10%;
  margin-top: 22vh;
}

.spot-index.worlds-wrapper h2 {
  font-family: 'cerealRegular';
  font-size: 1.5em;
  letter-spacing: 0.5px; 
}

.spot-index.worlds-wrapper ul { 
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  margin-top: 5%;
  list-style: none;
}

.spot-index.worlds-wrapper ul li {
  position: relative;
  box-shadow: 3px -1px 10px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  margin-right: 2%;
  width: 15%;
  padding-top: 15%;
}

.spot-index.worlds-wrapper ul li a {
  position: absolute;
  top: 0;
  left: 0;
  text-decoration: none;
  font-family: 'cerealRegular';
  font-size: 0.9em;
  color: var(--gray);
  width: 100%;
  height: 100%;
}

.region.text-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  padding-left: 1.5em;
  width: 100%;
  height: 20%; 
}

.region.image-wrapper { 
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: var(--medium-teal);
  overflow: hidden;
  box-sizing: border-box;
  padding: 1em;
}

.region.image-wrapper img {
  height: 90%;
}

/* Top rated stays styling */

.spot-index.top-wrapper {
  display: flex;
  flex-direction: column; 
  width: 100%;
  box-sizing: border-box;
  padding: 7% 10%;
}

.spot-index.top-wrapper h2 {
  font-family: 'cerealRegular';
  font-size: 1.5em;
  letter-spacing: 0.5px;
}

.spot-index.top-wrapper h3 {
  font-family: 'cerealLight';
  font-size: 1em;
  letter-spacing: 0.5px;
  margin-top: 5px;  
}

.spot-index.top-wrapper ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style: none;
  margin-top: 5%; 
  width: 100%;
}

.spot-index.top-wrapper ul li {
  width: 22%;
  margin: 0 2em 2em 0; 
}

.spot-index.top-wrapper ul li a {
  width: 100%;
  height: 100%;
}

.top-rated.image-wrapper {
  position: relative;
  width: 100%;
  padding-top: 60%;
  border-radius: 5px;
  overflow: hidden;
}

.top-rated.image-wrapper img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.top-rated-text-wrapper {
  margin-top: 0.5em;
}

.superhost-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.spot-index.top-wrapper ul li a {
  text-decoration: none;
}

.spot-index.top-wrapper ul li a .superhost-wrapper p:first-of-type {
  font-family: 'cerealRegular';
  font-size: 0.813em;
  text-transform: uppercase;
  color: var(--dark-gray);
  border-radius: 5px;
  border: 1px solid var(--dark-gray);
  padding: 0.3em;
  margin-right: 0.5em;
}

.spot-index.top-wrapper ul li a .superhost-wrapper p:last-of-type {
  font-family: 'cerealLight';
  font-size: 1em;
  color: var(--gray);
}

.spot-index.top-wrapper ul li a h4 {
  font-family: 'cerealRegular';
  font-size: 1em;
  color: var(--dark-gray);
  margin-top: 0.357em;
}

.spot-index.top-wrapper ul li a p {
  font-family: 'cerealLight';
  font-size: 1em;
  color: var(--dark-gray);
  margin-top: 0.2em;
}

.price-wrapper {
  font-family: 'cerealMedium';
  color: var(--dark-gray); 
}

/* Dynamic styling */

@media screen and (min-width: 320px) {
  .spot-index.main-container h2 {
    font-size: calc(16px + 8 * ((100vw - 320px) / 680));
  }

  .spot-index.main-container h3 {
    font-size: calc(9px + 7 * ((100vw - 320px) / 680));
  }

  .region.text-wrapper {
    font-size: calc(6px + 9 * ((100vw - 320px) / 680));
  }
}

@media screen and (min-width: 1000px) {
  .spot-index.main-container h2 {
    font-size: 24px;
  }

  .spot-index.main-container h3 {
    font-size: 16px;
  }

  .region.text-wrapper {
    font-size: 15px;
  }
}

/* Mobile and small screen styling */

@media screen and (max-width: 850px) {
  /* World regions styling */

  .spot-index.worlds-wrapper {
    box-sizing: border-box;
    padding: 0 7%;
    margin-top: 20vh;
  }

  .spot-index.worlds-wrapper ul {
    width: 100%;
    height: 100%;
  }

  .spot-index.worlds-wrapper ul li {
    position: relative;
    box-shadow: 3px -1px 10px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    margin-right: 2%;
    width: 25%;
    padding-top: 25%; 
  }

  .spot-index.top-wrapper {
    box-sizing: border-box;
    padding: 20% 10% 30% 10%;
  }

  /* Top spots styling */

  .spot-index.top-wrapper {
    display: flex;
    flex-direction: column; 
    width: 100%;
    box-sizing: border-box;
    padding: 20% 7%;
  }

  .spot-index.top-wrapper ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    list-style: none;
    width: 100%;
  }

  .spot-index.top-wrapper ul li {
    width: 100%;
    margin-bottom: 10%;
  }
}