@import '../variables.css';

.spot-detail.main-content-wrapper { 
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  margin-top: 12vh;
}

/* Photo gallery thumbnails styling */

.spot-detail.photo-thumbs-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 50%;
}

.spot-detail.main-image-wrapper {
  position: relative;
  width: 50%;
  height: 100%;
  overflow: hidden;
  margin-right: 0.2em;
}

.spot-detail.main-image-wrapper img {
  transform: scale(1.2);
  width: 100%;
}

.spot-detail.main-image-wrapper img:hover {
  transform: scale(1.3);
  transition: transform 1s;
  cursor: pointer;
}

.side-image-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  flex-shrink: 2;
  width: 50%;
  height: 100%;
}

.side-image-wrapper .image-wrapper {
  position: relative;
  width: 49.7%;
  height: 49.5%;
  overflow: hidden;
}

.side-image-wrapper .image-wrapper img {
  transform: scale(1.5);
  width: 100%;
}

.side-image-wrapper .image-wrapper img:hover {
  transform: scale(1.7);
  transition: transform 1s;
  cursor: pointer; 
}

.side-image-wrapper .image-wrapper .overlay-wrapper,
.spot-detail.main-image-wrapper .overlay-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
  z-index: -1;
} 

.thumbnail-photos-wrapper:hover div:not(:hover) .overlay-wrapper {
  opacity: 1;
  z-index: 1;
  transition: opacity 0.5s;
}  

.view-images-wrapper button {
  position: absolute;
  top: 85%;
  left: 90%;
  z-index: 1;
  font-family: 'cerealMedium';
  color: var(--medium-gray);
  background: white;
  border: none;
  box-sizing: border-box;
  padding: 0.5% 1%;
  border-radius: 0.3em; 
  display: none;
}

.view-images-wrapper button:hover {
  cursor: pointer;
}

/* Main content styling */

.spot-detail.main-content-container {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 0 10%;
}

.spot-detail.header-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  margin-top: 2%;
}

.spot-detail.location-wrapper {
  display: flex;
  flex-direction: row;
  width: 55%;
}

.spot-detail.location-wrapper h1 {
  font-family: 'cerealMedium';
  letter-spacing: 0.5px;
  color: var(--medium-gray); 
}

.spot-detail.location-wrapper p {
  font-family: 'cerealLight';
  margin-top: 1%;
}

.spot-detail.location-wrapper img {
  width: 10%;
  height: 10%;
  border-radius: 50%;
}

/* User and price styling */

.spot-detail.user-price-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.spot-detail.user-price-wrapper p {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: 'cerealLight';
  color: var(--medium-gray);
  border: 1px solid var(--outline-gray);
  /* box-sizing: border-box; */
  /* padding: 2% 10%; */
  /* width: 40%; */
}

.spot-detail.user-price-wrapper p span {
  display: inline-block;
  font-family: 'cerealMedium';
  color: var(--medium-gray);
  margin-right: 0.2em;
}

/* Main description styling */

.spot-detail.gen-info-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  border-bottom: 1px solid var(--underline-gray);
}

.spot-detail.gen-info-wrapper p {
  font-family: 'cerealLight';
  font-size: 16px;
  color: var(--dark-gray);
  margin: 20px 25px 0 0;
  padding-bottom: 20px;
}

/* Perks styling */

.spot-detail.perks-wrapper {
  border-bottom: 1px solid var(--underline-gray);
  margin-top: 30px;
}

.entire-home-perk-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.entire-home-perk-wrapper .image-wrapper .star-icon img {
  width: 23px;
  margin-right: 17px;
}

.entire-home-perk-wrapper .perk-wrapper h3 {
  font-family: 'cerealRegular';
  font-size: 16px;
  color: var(--medium-gray);
}

.entire-home-perk-wrapper .perk-wrapper p {
  font-family: 'cerealLight';
  font-size: 14px;
  color: var(--gray);
  margin-top: 5px;
}

.sparkling-clean-perk-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 20px;
}

.sparkling-clean-perk-wrapper .image-wrapper .cleaner-icon img {
  width: 15px;
  margin-right: 25px;
}

.sparkling-clean-perk-wrapper .perk-wrapper h3 {
  font-family: 'cerealRegular';
  font-size: 16px;
  color: var(--medium-gray);
}

.sparkling-clean-perk-wrapper .perk-wrapper p {
  font-family: 'cerealLight';
  font-size: 14px;
  color: var(--gray);
  margin-top: 5px;
}

.superhost-perk-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 20px;
}

.superhost-perk-wrapper .image-wrapper .badge-icon img {
  width: 16px;
  margin-right: 24px;
}

.superhost-perk-wrapper .perk-wrapper h3 {
  font-family: 'cerealRegular';
  font-size: 16px;
  color: var(--medium-gray);
}

.superhost-perk-wrapper .perk-wrapper p {
  font-family: 'cerealLight';
  font-size: 14px;
  color: var(--gray);
  margin-top: 5px;
}

.check-in-perk-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 20px;
  padding-bottom: 30px;
}

.check-in-perk-wrapper .image-wrapper .house-icon img {
  width: 25px;
  margin-right: 18px;
}

.check-in-perk-wrapper .perk-wrapper h3 {
  font-family: 'cerealRegular';
  font-size: 16px;
  color: var(--medium-gray);
}

.check-in-perk-wrapper .perk-wrapper p {
  font-family: 'cerealLight';
  font-size: 14px;
  color: var(--gray);
  margin-top: 5px;
}

/* Description styling */

.spot-detail.description-wrapper {
  font-family: 'cerealRegular';
  font-size: 15px;
  margin-top: 30px;
  line-height: 1.75;
  border-bottom: 1px solid var(--underline-gray);
  padding-bottom: 30px;
  color: var(--medium-gray);
}

/* Sleeping arrangements styling */

.spot-detail.sleeping-wrapper {
  margin-top: 30px;
  border-bottom: 1px solid var(--underline-gray);
}

.spot-detail.sleeping-wrapper h2 {
  font-family: 'cerealMedium';
  font-size: 16px;
  color: var(--medium-gray);
}

.spot-detail.sleeping-wrapper ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding-bottom: 40px;
  margin-top: 20px;
}

.spot-detail.sleeping-wrapper ul li {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 1px solid var(--underline-gray); 
  border-radius: 5px;
  padding: 25px 90px 25px 25px;
  margin-right: 20px;
}

.spot-detail.sleeping-wrapper ul li .bed-icon img {
  width: 25px;
}

.spot-detail.sleeping-wrapper ul li h3 {
  font-family: 'cerealRegular';
  font-size: 16px;
  color: var(--medium-gray);
  letter-spacing: 0.5px;
  margin-top: 15px;
}

.spot-detail.sleeping-wrapper ul li p {
  font-family: 'cerealLight';
  font-size: 14px;
  color: var(--medium-gray);
  margin-top: 10px;
}

/* Amenities styling */

.spot-detail.amenities-wrapper {
  display: grid;
  margin-top: 30px;
}

.spot-detail.amenities-wrapper h2 {
  font-family: 'cerealMedium';
  font-size: 16px;
  color: var(--medium-gray);
}

.spot-detail.amenities-wrapper .amenities-grid {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: 'cerealLight';
  font-size: 16px;
  color: var(--dark-gray);
  margin-top: 20px;
  padding-bottom: 30px;
}

.spot-detail.amenities-wrapper .amenities-grid .wifi-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.spot-detail.amenities-wrapper .amenities-grid .wifi-wrapper .image-wrapper .wifi-icon img {
  width: 22px;
  margin-right: 20px;
}

.spot-detail.amenities-wrapper .amenities-grid .kitchen-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 15px;
}

.spot-detail.amenities-wrapper .amenities-grid .kitchen-wrapper .image-wrapper .kitchen-icon img {
  width: 20px;
  margin-right: 22px;
}

.spot-detail.amenities-wrapper .amenities-grid .breakfast-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 15px;
}

.spot-detail.amenities-wrapper .amenities-grid .breakfast-wrapper .image-wrapper .breakfast-icon img {
  width: 23px;
  margin-right: 19px;
}

.spot-detail.amenities-wrapper .amenities-grid .parking-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 15px;
}

.spot-detail.amenities-wrapper .amenities-grid .parking-wrapper .image-wrapper .parking-icon img {
  width: 23px;
  margin-right: 19px;
}

.spot-detail.amenities-wrapper .amenities-grid .pool-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 15px;
}

.spot-detail.amenities-wrapper .amenities-grid .pool-wrapper .image-wrapper .pool-icon img {
  width: 19px;
  margin-right: 23px;
}

.spot-detail.amenities-wrapper .amenities-grid .essentials-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 15px;
}

.spot-detail.amenities-wrapper .amenities-grid .essentials-wrapper .image-wrapper .essentials-icon img {
  width: 20px;
  margin-right: 20px;
}

.spot-index-item-detail-description .price .price-text-wrapper {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  font-family: 'cerealLight';
  color: var(--dark-gray);
}

.spot-index-item-detail-description .price .price-text-wrapper h2 {
  font-family: 'cerealMedium';
  color: var(--dark-gray);
  margin-right: 5px;
}

/* Datepicker styling */

.spot-index-detail-booking-form {
  width: 100%;
  border-top: 1px solid var(--underline-gray);
  display: none;
}

.spot-index-detail-booking-form h2 {
  font-family: 'cerealMedium';
  font-size: 20px;
  color: var(--dark-gray);
  margin-top: 50px;
}

/* Dynamic styling */

@media screen and (min-width: 320px) {
  .view-images-wrapper button {
    font-size: calc(2px + 14 * ((100vw - 320px) / 680));
  }

  .spot-detail.location-wrapper h1 {
    font-size: calc(16px + 16 * ((100vw - 320px) / 680));
  }

  .spot-detail.user-price-wrapper p {
    font-size: calc(10px + 5 * ((100vw - 320px) / 680));
  }

  .spot-detail.user-price-wrapper p span {
    font-size: calc(12px + 12 * ((100vw - 320px) / 680));
  }
}

@media screen and (min-width: 1000px) {
  .view-images-wrapper button {
    font-size: 16px;
  }

  .spot-detail.location-wrapper h1 {
    font-size: 32px;
  }

  .spot-detail.user-price-wrapper p {
    font-size: 15px;
  }

  .spot-detail.user-price-wrapper p span {
    font-size: 24px;
  }
}

/* Mobile and small screen styling */

@media screen and (max-width: 920px) {
  .spot-detail.header-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    margin-top: 2%;
  }

  .spot-detail.location-wrapper {
    width: 100%;
  }

  .spot-detail.user-price-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 3%;
  }

  .spot-detail.user-price-wrapper img {
    margin-right: 5%;
  }

  /* .spot-index-item-detail-header .header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  } */

  /* .spot-index-item-detail-header .header .name-wrapper h1 {
    font-size: 16px;
  }

  .spot-index-item-detail-header .header img {
    width: 25%;
    border-radius: 50%;
  } */
}