.dropdown {
  /* max-height: 100%; */
  background-color: white;
  width: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 80px;
  right: 30px;
  box-shadow: 0px 0px 3px 0px rgba(176, 176, 176, 1);
  z-index: 200;
}

/* .everything-but-dropdown {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 102;
} */

.user-dropdown-list {
  list-style: none;
}

.dropdown-button {
  padding: 12px;
  width: 200px;
  border-bottom: 1px solid lightgrey;
  font-size: 14px;
  color: #8c8c8c;
  margin: 0;
}

.dropdown-button:hover {
  cursor: pointer;
  border-bottom: 1px solid grey;
}

#profile-pict {
  margin-right: 30px;
  margin-left: 25px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  position: relative;
  border: 2px solid #5bc2bf;
  border-radius: 100%;
}