@import '../variables.css';

.profile-menu-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Avatar display styling */

.avatar-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: white;
  border: 1px solid var(--underline-gray);
  box-sizing: border-box;
  padding: 0.5em 1em;
  border-radius: 30px;
  box-shadow: 0 3px 8px 1px rgba(0, 0, 0, 0.1);
}

.avatar-wrapper p {
  font-family: 'cerealBold';
  font-size: 0.875em;
  box-sizing: border-box;
  padding-right: 1em;
}

.avatar-image {
  width: 2em;
  height: 2em;
  border-radius: 50%;
  background: darkblue;
}

/* Dropdown menu styling */

.dropdown-menu-wrapper {
  position: absolute;
  top: 95%;
  left: -70%;
  width: 170%;
  background: white;
  box-shadow: 0 3px 8px 1px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.dropdown-menu-wrapper ul {
  list-style: none;
  box-sizing: border-box;
  padding: 0.5em 0;
}

.dropdown-menu-wrapper ul li {
  width: 100%;
  box-sizing: border-box;
  padding: 0.5em 2em 0.5em 0.5em;
}

.dropdown-menu-wrapper ul li:hover {
  background: var(--underline-gray);
  cursor: pointer;
}

.dropdown-menu-wrapper ul li button {
  border-bottom: none;
}

.dropdown-menu-wrapper ul li button:hover {
  border-bottom: none;
}