@import '../variables.css';

.dropdown.user-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}

/* Avatar display styling */

.avatar-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: white;
  border: 1px solid var(--underline-gray);
  width: 14%;
  height: 52%;
  border-radius: 30px;
  box-shadow: 0 3px 8px 1px rgba(0, 0, 0, 0.1);
}

.avatar-wrapper:hover {
  cursor: pointer;
}

.avatar-wrapper p {
  font-family: 'cerealBold';
  font-size: 0.875em;
  box-sizing: border-box;
  padding-right: 1em;
}

.avatar-image-wrapper {
  width: 2em;
  height: 2em;
  border-radius: 50%;
  background: darkblue;
}

/* Dropdown menu styling */

.menu-wrapper {
  position: absolute;
  top: 90%;
  left: 75%;
  width: 25%;
  background: white;
  box-shadow: 0 3px 8px 1px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.menu-wrapper ul {
  list-style: none;
  box-sizing: border-box;
  padding: 0.5em 0;
}

.menu-wrapper ul li {
  width: 100%;
  box-sizing: border-box;
  padding: 0.5em 2em 0.5em 0.5em;
}

.menu-wrapper ul li:hover {
  background: var(--light-gray);
  cursor: pointer;
}

.menu-wrapper ul li button {
  font-family: 'cerealMedium';
  font-size: 0.9em;
  outline: none;
  border: none;
  background: transparent;
  box-sizing: border-box;
  padding: 1% 5%;
}

.menu-wrapper ul li button:hover {
  border-bottom: none;
}