@import '../variables.css';

.navbar-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  box-sizing: border-box;
  padding: 0 3%;
  width: 100%;
  height: 12vh; 
  background: white;
  border-bottom: 1px solid var(--underline-gray);
  font-family: 'cerealMedium';
  z-index: 2;
}

/* Logo styling */

.logo-wrapper {
  position: relative;
  width: 6%;
  height: 100%;
  overflow: hidden;
}

.logo-wrapper a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 65%;
  height: 65%;
}

.logo-wrapper img {
  width: 100%;
}

/* Login and Signup links styling */

.links-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 64%;
}

.button-wrapper {
  box-sizing: border-box;
  padding: 0 1em;
  border-bottom: 4px solid transparent;
}

.button-wrapper:hover {
  cursor: pointer;
  border-bottom: 4px solid var(--gray);
}

.button-wrapper:first-of-type {
  margin-right: 1em;
}

.button-wrapper button {
  background: transparent;
  border: none;
  /* border-bottom: 4px solid transparent; */
  box-sizing: border-box;
  padding-bottom: 2.5em;
}

.button-wrapper p {
  font-family: 'cerealBold';
  font-size: 1.5em;
  color: var(--gray);
}

/* .nav-left {
  display: flex;
  justify-content: flex-start;
  flex: 3;
} */

/* .nav-main {
  vertical-align: middle;
	max-height: 80px;
  background-color: white;
  display: flex;
  flex-direction: row;
  flex-grow: 2;
  justify-content: flex-end;
  padding-right: 3%;
} */


/* @media (max-width: 850px) {
  .right-navbar {
    display: none;
  }
} */

/* ul.nav-main-list {
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  flex-direction: row;
  align-items: center;
  height: 80px;
  margin: 0;
  padding-right: 3%;
}

.logo-wrapper {
  margin: auto 0 auto 40px;
}

.logo-wrapper img {
  width: 55px;
}

.nav-mid {
	display: flex;
	position: relative;
  flex: 3;
}

.search-bar {
	background-color: white;
}

div.nav-main ul {
  display: flex;
  justify-content: space-between;
  height: fit-content;
}

div.nav-main ul li .nav-link {
  font-size: 14px;
  font-weight: 600;
  color: var(--gray);
  line-height: 20px;
  padding: 0 17px;
  margin: 0px 0px;
  border: none;
  background: none;
  position: absolute;
	top: 0;
	background-color: white;
  display: inline-flex;
  position: relative;
  height: 80px;
  vertical-align: baseline;
  align-items: center;
  flex-wrap: nowrap;
}

button a {
  text-decoration: none;
  color: var(--gray);
}

.help-link a {
  text-decoration: none;
}

div button.profile-link {
	padding: 0;
	margin: 0;
	height: fit-content;
}

.messages-div button {
   right: 140px;
}

.trips-div button {
  right: 140px;
}

div.nav-main li .nav-link:hover {
  border-bottom: 2px solid gray;
  cursor: pointer;
}

button.nav-link:active {
  border-bottom: none;
  outline: none;
}

button.nav-link:focus {
  outline: none;
} */