@import '../variables.css';

/* Navbar styling */

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-family: 'cerealMedium';
  background-color: white;
  border-bottom: 1px solid #e4e4e4;
  position: fixed;
  top: 0;
  width: 100%;
  height: 12%;
  box-sizing: border-box;
  padding: 0 2em;
  z-index: 1;
}

/* Logo styling */

.logo {
  width: 4%;
  height: 60%;
  text-align: center;
  margin-right: 1em;
}

.logo a {
  width: 100%;
}

.logo img {
  height: 100%;
}

/* Signup and login link styling */


.signup-login-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-content: flex-end;
  width: 59%;
  height: 100%;
}

.navbar button {
  font-family: 'cerealBold';
  font-size: 1em;
  border: none;
  background: transparent;
  color: var(--gray);
  border-bottom: 5px solid transparent;
}

.navbar button:hover {
  border-bottom: 5px solid var(--gray);
  cursor: pointer;
}

.signup-button,
.login-button {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.signup-button p,
.login-button p {
  padding-bottom: 1.5em;
}

.login-button {
  margin-left: 3em;
}


/* .navbar ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style: none;
  background: yellow;
  width: 50%;
}

.navbar ul li button {
  font-family: 'cerealBold';
  font-size: 1em;
  border: none;
  background: transparent;
  color: var(--gray);
  border-bottom: 5px solid red;
}

.navbar ul li button:last-of-type {
  margin-left: 3em;
} */