@import '../variables.css';

.navbar-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  box-sizing: border-box;
  padding: 0 3%;
  width: 100%;
  height: 12%; 
  background: white;
  border-bottom: 1px solid var(--underline-gray);
  font-family: 'cerealMedium';
  z-index: 2; 
}

/* Logo styling */

.logo-wrapper {
  position: relative;
  width: 6%;
  height: 100%;
  overflow: hidden;
}

.logo-wrapper a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 65%;
  height: 65%;
}

.logo-wrapper img {
  width: 100%;
}

/* Profile styling */

.profile-wrapper {
  width: 64%;
  height: 100%;
}

/* Login and Signup links styling */

.links-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 64%;
}

.button-wrapper {
  box-sizing: border-box;
  padding: 0 1em;
  border-bottom: 4px solid transparent;
}

.button-wrapper:hover {
  cursor: pointer;
  border-bottom: 4px solid var(--gray);
}

.button-wrapper:first-of-type {
  margin-right: 1em;
}

.button-wrapper button {
  background: transparent;
  border: none;
  box-sizing: border-box;
  padding-bottom: 2.5em;
}

.button-wrapper p {
  font-family: 'cerealBold';
  font-size: 1.5em;
  color: var(--gray);
}