@import '../variables.css';

/* Navbar styling */

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-family: 'cerealMedium';
  background-color: white;
  border-bottom: 1px solid #e4e4e4;
  position: sticky;
  top: 0;
  width: 100%;
  height: 12vh;
  box-sizing: border-box; 
  padding: 0 2em;
  z-index: 1;
}

/* Logo styling */

.logo {
  width: 3em;
  height: 3em;
  text-align: center;
  margin-right: 1.5em;
}

.logo a {
  width: 100%;
}

.logo img {
  height: 100%;
}

/* Signup and login link styling */
/* Profile link styling */ 

.signup-login-wrapper,
.profile-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-content: flex-end;
  width: 70%;
  height: 100%;
}

.navbar button {
  font-family: 'cerealBold';
  font-size: 1em;
  border: none;
  background: transparent;
  color: var(--gray);
  border-bottom: 5px solid transparent;
}

.navbar button:hover {
  border-bottom: 5px solid var(--gray);
  cursor: pointer;
}

.signup-button,
.login-button {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 3.5em;
}

.signup-button p,
.login-button p {
  padding-bottom: 1em;
}

.login-button {
  margin-left: 3em;
}