@import '../variables.css';

.search-bar.bar-container { 
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 30%;
  height: 100%; 
}

.search-bar-wrapper {
  position: relative;
  width: 100%;
  min-width: 5em;
}

.search-bar-wrapper input[type="text"] {
  font-family: 'cerealMedium';
  font-size: 1em;
  color: var(--dark-gray);
  box-sizing: border-box;
  padding: 3% 0 3% 15%;
  border-radius: 5px;
  border: none;
  border: 1px solid var(--outline-gray);
  box-shadow: 0 3px 8px 1px rgba(0, 0, 0, 0.1);
  width: 90%;
  min-width: 15em;
}

.search-bar-wrapper input[type="text"]:focus {
  width: 100%;
  transition: width 0.25s;
}

.search-icon img {
  position: absolute;
  width: 5%;
  top: 0;
  bottom: 0;
  left: 5%;
  margin: auto;
}

.close-icon img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 93%;
  margin: auto;
  width: 3%; 
  opacity: 0;
}

.search-bar-wrapper input[type="text"]:focus + .close-icon img {
  opacity: 1;
}

.close-icon:hover {
  cursor: pointer;
}

/* Dynamic styling */

@media screen and (min-width: 320px) {
  .search-bar-wrapper input[type="text"] {
    font-size: calc(12px + 4 * ((100vw - 320px) / 680));
  }
}

@media screen and (min-width: 1000px) {
  .search-bar-wrapper input[type="text"] {
    font-size: 16px;
  }
}

/* Mobile and small screen styling */

@media screen and (max-width: 450px) {
  .search-bar.bar-container { 
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 70%;
    height: 100%;
  }

  .close-icon img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 88%;
    margin: auto;
    width: 13px; 
    opacity: 0;
  }
}