@import '../variables.css';

form {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 30%;
  height: 100%;
}

.search-bar-wrapper {
  position: relative;
  width: 100%;
}

.search-bar-wrapper input[type="text"] {
  font-family: 'cerealMedium';
  font-size: 1em;
  color: var(--dark-gray);
  box-sizing: border-box;
  padding: 10px 0 10px 50px;
  border-radius: 5px;
  border: none;
  border: 1px solid var(--outline-gray);
  box-shadow: 0 3px 8px 1px rgba(0, 0, 0, 0.1);
  width: 90%;
}

.search-bar-wrapper input[type="text"]:focus {
  width: 100%;
  transition: width 0.25s;
}

.search-icon img {
  position: absolute;
  width: 20px;
  top: 0.66em;
  left: 0.83em;
}

.close-icon img {
  position: absolute;
  top: 15px;
  left: 95%;
  width: 13px; 
  opacity: 0;
}

.search-bar-wrapper input[type="text"]:focus + .close-icon img {
  opacity: 1;
}

.close-icon:hover {
  cursor: pointer;
}