@import '../variables.css';

.login-modal-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.login-modal-wrapper .modal-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5); 
  z-index: 3;
}

.login-modal-wrapper .form-normal {
  position: fixed;
  top: 15%;
  left: 30%;
  width: 40%;
  height: 67%;
  background: white;
  border-radius: 15px;
  text-align: center;
  z-index: 4;
}

.login-modal-wrapper .form-errors {
  position: fixed;
  top: 13%;
  left: 30%;
  width: 40%;
  height: 72%;
  background: white;
  border-radius: 15px;
  text-align: center;
  z-index: 4;
}

.login-modal-wrapper form .header-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 25px 0 20px 0;
  border-bottom: 1px solid var(--outline-gray);
}

.login-modal-wrapper form .close-wrapper {
  width: 17px;
  height: 17px;
}

.login-modal-wrapper form .close-wrapper .close-button {
  content: url('/images/modal/session_form_close.png');
  width: 100%;
}

.login-modal-wrapper form .close-wrapper .close-button:hover {
  content: url('/images/modal/session_form_close_hover.png');
  width: 32.5px;
  cursor: pointer;
  margin: -8px 0 0 -7.5px;
}

.login-modal-wrapper form .header-wrapper h1 {
  font-family: 'cerealMedium';
  font-size: 16px;
  color: var(--dark-gray);
  padding: 0 230px;
}

.login-modal-wrapper form .main-content-wrapper {
  width: 100%;
  text-align: left;
  padding: 20px 30px 30px 30px;
  box-sizing: border-box;
}

/* Session Errors */
.session-errors-wrapper {
  font-family: 'cerealLight';
  font-size: 12px;
  color: var(--red);
  margin: 10px 0 5px 0;
}

.session-errors-wrapper ul {
  list-style: none;
}

.session-errors-wrapper .email-error {
  margin-bottom: 8px;
}

.login-modal-wrapper form .main-content-wrapper button {
  background-image: linear-gradient(to right, var(--pink), var(--medium-pink), var(--dark-pink));
  border-radius: 8px;
  border: none;
  width: 100%;
  padding: 12px 0;
  font-family: 'cerealRegular';
  font-size: 15px;
  font-weight: 900;
  color: white;
  margin-top: 10px;
}

.login-modal-wrapper form .main-content-wrapper button:hover {
  cursor: pointer;
}

.login-modal-wrapper form .main-content-wrapper .button-separator-wrapper {
  font-family: 'cerealRegular';
  font-size: 16px;
  color: var(--dark-gray);
  width: 100%;
  padding: 15px 250px;
}

.login-modal-wrapper form .main-content-wrapper input[type="text"] {
  font-family: 'cerealLight';
  font-size: 16px;
  color: var(--dark-gray);
  width: 100%;
  border: 1px solid var(--outline-gray);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 22px 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.login-modal-wrapper form .main-content-wrapper input[type="text"].bad-input,
.login-modal-wrapper form .main-content-wrapper input[type="password"].bad-input {
  background-color: var(--light-red);
  border-color: var(--red);
}

.login-modal-wrapper form .main-content-wrapper input[type="text"].bad-input::placeholder,
.login-modal-wrapper form .main-content-wrapper input[type="password"].bad-input::placeholder  {
  font-family: 'cerealMedium';
  color: var(--red);
}

.login-modal-wrapper form .main-content-wrapper input[type="text"].bad-input:focus,
.login-modal-wrapper form .main-content-wrapper input[type="password"].bad-input:focus {
  background-color: transparent;
}

.login-modal-wrapper form .main-content-wrapper input[type="text"]:focus::placeholder,
.login-modal-wrapper form .main-content-wrapper input[type="password"]:focus::placeholder {
  font-size: 12px;
  transform: translateY(-19px);
  transition: all 0.5s;
}

.login-modal-wrapper form .main-content-wrapper input[type="password"] {
  font-family: 'cerealLight';
  font-size: 16px;
  color: var(--dark-gray);
  width: 100%;
  border: none;
  border: 1px solid var(--outline-gray);
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 22px 10px;
  box-sizing: border-box;
}

.login-modal-wrapper form .main-content-wrapper .no-account-wrapper {
  font-family: 'cerealRegular';
  font-size: 14px;
  color: var(--gray);
  padding-top: 30px;
}

.login-modal-wrapper form .main-content-wrapper .no-account-wrapper p span {
  font-family: 'cerealMedium';
  font-size: 14px;
  color: var(--dark-gray);
  text-decoration: underline;
  padding: 0 5px;
}

.login-modal-wrapper form .main-content-wrapper .no-account-wrapper p span:hover {
  cursor: pointer;
}