@import '../variables.css';

.login.modal-container,
.signup.modal-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.session.modal-wrapper {
  width: 100%;
  height: 100%;
}

.session.modal-wrapper form {  
  display: flex;
  flex-direction: column;
}

.session.background-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); 
  z-index: 3; 
}

.session.form-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  background: white;
  border-radius: 15px;
  text-align: center;
  z-index: 4;
}

/* Session errors styling */

.session.errors-wrapper {
  position: fixed;
  top: 13%;
  left: 30%;
  width: 40%;
  height: 72%;
  background: white;
  border-radius: 15px;
  text-align: center;
  z-index: 4;
}

/* Session header styling */

.session.header-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  padding: 4%;
  border-bottom: 1px solid var(--outline-gray);
}

.session.header-wrapper img {
  width: 3%;
}

.session.header-wrapper h1 {
  font-family: 'cerealMedium';
  color: var(--dark-gray);
  width: 97%;
}

/* Session Errors */
.session-errors-wrapper {
  font-family: 'cerealLight';
  font-size: 12px;
  color: var(--red);
  margin: 3% 0 2% 0;
}

.session-errors-wrapper ul {
  list-style: none;
}

.session-errors-wrapper .email-error {
  margin-bottom: 8px;
}

/* Session input styling */

.session.input-wrapper {
  width: 100%;
  text-align: left;
  box-sizing: border-box;
  padding: 2% 5% 5% 5%;
}

.session.input-wrapper button {
  background-image: linear-gradient(to right, var(--pink), var(--medium-pink), var(--dark-pink));
  border-radius: 8px;
  border: none;
  width: 100%;
  box-sizing: border-box;
  padding: 3% 0;
  font-family: 'cerealRegular';
  font-weight: 900;
  color: white;
  margin-top: 2%;
}

.session.input-wrapper button:hover {
  cursor: pointer;
}

.session.separator-wrapper {
  font-family: 'cerealRegular';
  font-size: 16px;
  color: var(--dark-gray);
  padding: 15px 250px;
}

.session.input-wrapper input[type="text"],
.session.input-wrapper input[type="password"] {
  font-family: 'cerealLight';
  color: var(--dark-gray);
  width: 100%;
  border: 1px solid var(--outline-gray);
  border-radius: 5px;
  box-sizing: border-box;
  padding: 4% 3%;
}

.session.input-wrapper input[type="text"] {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.session.input-wrapper input[type="text"].bad-input,
.session.input-wrapper input[type="password"].bad-input {
  background-color: var(--light-red);
  border-color: var(--red);
}

.session.input-wrapper input[type="text"].bad-input::placeholder,
.session.input-wrapper input[type="password"].bad-input::placeholder  {
  font-family: 'cerealMedium';
  color: var(--red);
}

.session.input-wrapper input[type="text"].bad-input:focus,
.session.input-wrapper input[type="password"].bad-input:focus {
  background-color: transparent;
}

.session.input-wrapper input[type="text"]:focus::placeholder,
.session.input-wrapper input[type="password"]:focus::placeholder {
  font-size: 12px;
  transform: translateY(-19px);
  transition: all 0.5s;
}

.session.input-wrapper input[type="password"] {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.session.no-account-wrapper {
  font-family: 'cerealRegular';
  font-size: 14px;
  color: var(--gray);
  padding-top: 30px;
}

.session.no-account-wrapper p span {
  font-family: 'cerealMedium';
  font-size: 14px;
  color: var(--dark-gray);
  text-decoration: underline;
  padding: 0 5px;
}

.session.no-account-wrapper p span:hover {
  cursor: pointer;
}

/* Dynamic styling */

@media screen and (min-width: 320px) {
  .session.header-wrapper h1,
  .session.input-wrapper input[type="text"],
  .session.input-wrapper input[type="password"] {
    font-size: calc(8px + 8 * ((100vw - 320px) / 680));
  }

  .session.input-wrapper button {
    font-size: calc(7px + 8 * ((100vw - 320px) / 680));
  }
}

@media screen and (min-width: 1000px) {
  .session.header-wrapper h1,
  .session.input-wrapper input[type="text"],
  .session.input-wrapper input[type="password"] {
    font-size: 16px;
  }

  .session.input-wrapper button {
    font-size: 15px;
  }
}