@import '../variables.css';

.spot-modal-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: white; 
  z-index: 3;
}

.spot-modal {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 75vh;
  padding: 3em;
}

.modal-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.modal.main-image-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center; 
  width: 65%;
  height: 100%;
}

.modal.selected-image-wrapper {
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  margin: 0 8%;
  width: 90%;
  height: 100%;
}

.modal.selected-image-wrapper img {
  height: 100%;
}

/* Modal nav arrows styling */

.modal.main-image-wrapper .previous-arrow-wrapper .previous-arrow {
  content: url('/images/spot_detail/previous_arrow_icon.png');
  width: 1em;
}

.modal.main-image-wrapper .previous-arrow-wrapper .previous-arrow:hover {
  cursor: pointer;
}

.modal.next-arrow-wrapper .next-arrow {
  content: url('/images/spot_detail/next_arrow_icon.png');
  width: 1em;
}

.modal.next-arrow-wrapper .next-arrow:hover {
  cursor: pointer;
}

/* Sidebar images styling */

.modal.side-images-wrapper { 
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: -3%;
  width: 27%;
  height: 100%;
}

.spot-modal .side-images-wrapper .close-wrapper {
  width: 7%;
}

.spot-modal .side-images-wrapper .close-wrapper:hover {
  cursor: pointer;
}

.spot-modal .side-images-wrapper .close-wrapper img {
  width: 100%;
}

.modal.thumbnails-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 100%;
  margin-top: 8%;
}

.modal.thumbnail-image-wrapper {
  position: relative;
  width: 5em;
  height: 5em;
  overflow: hidden;
  border-radius: 7px;
  box-sizing: border-box;
  border: 2.5px solid transparent;
  opacity: 0.5;
  margin-bottom: 1em;
}

.modal.thumbnail-image-wrapper:hover {
  opacity: 1;
  transition: ease-in-out 0.25s;
  cursor: pointer;
}

.modal.thumbnail-image-wrapper.active {
  border: 2.5px solid var(--dark-gray);
  opacity: 1;
}

.modal.thumbnail-image-wrapper img {
  position: absolute;
  left: -35%;
  width: 200%;
}

.spot-modal .side-images-wrapper .numbering {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  margin-top: 15%;
}

.spot-modal .side-images-wrapper .numbering p {
  font-family: 'cerealMedium';
  font-size: 1em;
  color: var(--medium-gray);
}