/* ED: i added the flex display as a temp fix to blocking  the filter  */
#map-container {
  /* width: 500px;
  height: 500px; */
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  max-width: none !important;
  top: 165px;
  right: 26px;
  left: auto;
  width: 600px;
  height: 75vh;

}
.search-index-top-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 80px;
  padding-bottom: 50px;
}

.search-index-top-wrapper h2 {
  font-family: 'cerealRegular';
  font-size: 25px;
  letter-spacing: 0.5px;
}

.search-index-top-wrapper h3 {
  font-family: 'cerealLight';
  font-size: 16px;
  letter-spacing: 0.5px;
  margin-top: 5px;
}

.search {
  display: flex;
  position: relative;
  height: auto;
}

.search-index-item-div {
  width: 100%;
  height: 100%;
  margin-right: 2px;
  overflow: hidden;
  list-style: none;
}
.search-index {
  height: 100%;
  width: 100%;
  margin-right: 650px;
  padding-left: 24px;
}
.search-index-div {
  margin-top: 120px;
  padding-right: 2px;
  width: 100%;
  display: grid;

  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 14px;
}

@media (max-width: 950px) {
  .search-index-div {
    display: none;
  }
}

.img-wrapper {
width: 100px;
/* height: 140px;  */
border-radius: 5px;
display: flex;
}

.superhost-wrapper {
display: flex;
flex-direction: row;
align-items: center;

}

.superhost-wrapper p:first-of-type {
  font-family: 'cerealRegular';
  font-size: 13px;
  text-transform: uppercase;
  color: var(--dark-gray);
  border-radius: 5px;
  border: 1px solid var(--dark-gray);
  margin: 10px 5px 0 0;
  padding: 3px 5px;
}

.superhost-wrapper
  p:last-of-type {
  font-family: 'cerealLight';
  font-size: 14px;
  color: var(--gray);
  margin-top: 10px;
}

.price-wrapper {
  font-family: 'cerealMedium';
  color: var(--dark-gray);
}